anyio
appdirs
certifi==2021.10.8
charset-normalizer
cobra==0.23.0
colorama
commonmark==0.9.1
cycler==0.11.0
dataclasses
depinfo
diskcache
fonttools==4.29.1
future
gmpy2
h11
h2
hpack==4.0.0
httpcore
httpx
hyperframe
idna
importlib-metadata
importlib-resources
kiwisolver==1.3.2
matplotlib==3.5.1
mpmath
numpy
optlang
packaging==21.3
pandas==1.4.1
Pillow==9.0.1
pydantic
Pygments
pyparsing==3.0.7
python-dateutil
python-libsbml
pytz
rfc3986
rich
ruamel.yaml
ruamel.yaml.clib
scipy==1.8.0
seaborn==0.11.2
six
sniffio
swiglpk
sympy
typing_extensions
zipp